.d-none {
    display: none;
}

.c-red {
    color: var(--red);
}

.c-grey {
    color: var(--grey);
}

.bg-red {
    background-color: var(--red);
}

.bg-grey {
    background-color: var(--grey);
}

.bold {
    font-weight: bold;
}

.title_container {
    margin-bottom: 2rem;
}

.subtitle {
    font-family: "Subtitle";
}

.list {
    margin-left: 2rem;
}